@import url(https://unpkg.com/ress/dist/ress.min.css);
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=BBH+Sans+Hegarty&family=Cherry+Bomb+One&family=Darumadrop+One&family=Hachi+Maru+Pop&family=Noto+Serif+Hentaigana&family=Sigmar+One&family=Yomogi&display=swap');
body {
  font-size: 16px;
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

#header {
  padding-left: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  z-index: 10;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: aqua;
}

main {
  margin: 0 50px;
  height: 100%;
  margin-bottom: 100px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(83, 83, 83);
}

ul, li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
}

.hamburger_btn {
  position: fixed;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 30;
}

.hamburger_btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  right: 10px;
  transition: all 0.4s;
}

.hamburger_btn span:nth-of-type(1) {
  top: 8px;
}

.hamburger_btn span:nth-of-type(2) {
  top: 16px;
}

.hamburger_btn span:nth-of-type(3) {
  top: 24px;
}

#header .menu-bar {
  font-size: 20px;
  position: fixed;
  height: 100vh;
  width: 300px;
  top: 0;
  right: -300px;
  padding-top: 40px;
  background-color: rgba(157, 237, 248, 0.8);
  transition: all .6s;
  z-index: 20;
  overflow-y: auto;
  text-align: center;
}

.menu-list {
  padding-top: 20px;
  line-height: 5;
  text-decoration: none;
}

#header .menu-bar.active {
  right:0;
}

#header .hamburger_btn.active span:nth-of-type(1) {
  top: 16px;
  transform: rotate(45deg);
}

#header .hamburger_btn.active span:nth-of-type(2) {
  opacity: 0;
}

#header .hamburger_btn.active span:nth-of-type(3) {
  top: 16px;
  transform: rotate(-45deg);
}

.page-items-container {
  height: 100%;
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding-bottom: 50px;
}

.page-item {
  margin-top: 30px;
}

.menu-text {
  display: grid;
  grid-template-columns: 50px 100px;
  text-decoration: none;
  color: black;
}

footer {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #ddd;
}

.sns-btn {
  gap: 30px;
  display: flex;
  justify-content: center;
}

.sns-btn i {
  font-size: 2em;
  cursor: pointer;
}

.copyright {
  padding-top: 30px;
  font-size: .8rem;
}
